doctype html
html
    head
        title="mtvplayer"
        meta(charset="utf-8")
        meta(name="description" content="mtvplayer for everyone")
        link(rel="icon", type="image/png", href="img/favicon.png")
        link(rel="stylesheet", href="main.css")

        script(type="text/javascript", src="app.js")

    body
        include ./pages/main.jade
